h1 {
    color: red;
    text-align: center;
    align-items: center;
    align-self: center;
}

.usuario-resultado{
    padding: 20px;
}

table, td, th{
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

/* Establecer tamaño máximo de la sección calculadora */
section.calculadora {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Establecer tamaño máximo de la tabla */
  table#tabla {
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  /* Ajustar tamaño de letra y márgenes en dispositivos móviles */
  @media only screen and (max-width: 600px) {
    section.calculadora h1 {
      font-size: 1.5em;
    }
    section.calculadora p {
      font-size: 0.9em;
      margin: 10px 0;
    }
    section.calculadora form {
      margin: 20px 0;
    }
    section.calculadora input[type="text"],
    section.calculadora input[type="button"] {
      width: 100%;
    }
    section.tabla-masas h1 {
      font-size: 1.5em;
    }
    table#tabla th,
    table#tabla td {
      font-size: 0.8em;
    }
  }
  